<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>This is the content from body.html</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="text-center">This is the content from body.html</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="text-center">This is the content from body.html</h2>
                </div>
            </div>
        </div>
    </div>
</div>