<nav class="navbar navbar-default" >
    <ul class="nav nav-tabs">
        <!--<li role="presentation" ng-class="{active: $state.current.name = 'home.menupage1'}">-->
        <li class="active" role="presentation" data-toggle="tab">

            <a href="#menupage1" ui_sref="home.menupage1">Menu 1</a>
        </li>
        <li role="presentation" data-toggle="tab" >
        <a href="#" ui_sref="home.menupage2">Menu 2</a></li>
        <li role="presentation">
            <a href="#">Menu 3</a>
        </li>
        <li role="presentation">
            <a href="#">Menu 4</a>
        </li>
    </ul>
</nav>