<div class="tab-content">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 >Navigation bar for menupage1</h4>
                <div class="text-left">
                    <div class="navbar-collapse collapse menu2">

                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#" ui_sref="home.menupage1.submenu1">Submenu 1 </a></li>
                            <li><a href="#" ui_sref="home.menupage1.submenu2">Submenu 2</a></li>
                            <li><a href="#">Submenu 3</a></li>
                            <li><a href="#">Submenu 4</a></li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div ui-view></div>

    </div>
</div>